<mat-card>
    <mat-card-content>
        <tabset #staticTabs>
            <tab heading="Dados Pessoais">
                <div style="margin: 8px">
                    <app-dados-pessoais></app-dados-pessoais>
                </div>
            </tab>
            <tab heading="Contrato">
                <div style="margin: 8px">
                    <app-contrato></app-contrato>
                </div>
            </tab>
            <tab heading="Anexos">Static content 3</tab>
        </tabset>
    </mat-card-content>
</mat-card>